# Ignore build output
dist
build

# Ignore dependencies
node_modules

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Environment files
.env
.env.*.local

# Vite and other config files
vite.config.ts
.eslintrc*
eslint.config.js
prettier.config.*.js

# Optional: ignore specific types
*.svg
*.png
*.ico
